# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Backend local files
backend/.env
backend/app/__pycache__/
backend/app/api/v1/__pycache__/
backend/app/schema/__pycache__/
backend/app/utils/
backend/chroma_db/
